@{
    ViewBag.Title = "queryPage";
}

<input type="number" id="codicefiscale" />
<input type="button" id="btnCerca" value="Cerca codice fiscale" />
<input type="button" id="btnCerca2" value="pensione completa" />
<div id="a"></div>
@section scripts{
    <script src="~/Scripts/JavaScriptCustom.js"></script>
}